@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Karla', Helvetica, sans-serif, Verdana;  
}

body{
  background: #F5F7FB;
  color: #293264;
  margin: 0;
  font-weight: 500;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
} 

.button { 
  display: block;
  margin: 2rem auto;
  width: 150px;
  height: 50px;
  background: #4D5B9E;
  font-size: large;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  font-family: 'Karla', Helvetica, sans-serif, Verdana;  
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.yellow {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.white {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

.container .question > p {
  font-weight: 500;
  font-size: 1rem;
 
}

.question {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  
}

.options .block {
  max-width: 300px;
  max-height: 80px;
  border: 1px solid #4D5B9E;
  border-radius: 50px;
  cursor: pointer; 
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options .block > p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0.5rem
}

@media screen and (min-width: 600px) {
  .container {
    width: 80%
  }
}


@media screen and (min-width: 1200px) {
  .container {
    width: 50%;
    margin-top: 0;
  }

  .question {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .options .block {
    margin-right: 1rem;
  }

  .container .question > p {
    font-size: 1.3rem;
    font-weight: 600;
  }


  
}








